body {
	background-color: #aaaaaa;
	color: #000000;
	opacity: 0;
}
a, a:hover, a:visited {
	color: #aa0000;
	text-decoration: none;
}
a:after {
	content: " \2500\25B6";
}
.link_no_arrow:after {
	content: "";
}
input {
	border-radius: 10px;
	margin: 5px;
	background-color: #cccccc;
}