#page_content {
	display: none;
}
@media(scripting: none) {
	#loading_page_content {
		display: none;
	}
	#page_content {
		display: block;
	}
}

.markdown {
	tab-size: 4;
}
.markdown .md_inline_code_block,
.markdown .md_code_block,
.markdown .md_code_block,
.markdown .md_link {
	font-family: monospace;
	font-weight: bold;
	border-radius: 5px;
}
.markdown .md_inline_code_block,
.markdown .md_code_block {
	white-space: pre;
	border-radius: 5px;
	color: #000000;
	background-color: #aaaaaa;
}
.markdown .md_inline_code_block {
	padding: 2px;
}
.markdown .md_code_block {
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
.markdown .md_link {
	color: #ff0000;
	background-color: #ffffff;
	padding: 2px;
}
.markdown .md_link a,
.markdown .md_link a:hover,
.markdown .md_link a:visited {
	font-family: monospace;
	font-weight: bold;
	border-radius: 5px;
	color: #ff0000;
	background-color: #ffffff;
	padding: 2px;
}
.license pre {
	font: initial;
}